<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gps.imagine" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GPSImagine</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="12000" />
	<splash src="gsi-base-splash.png" />
	
	
    <preference name="fullscreen" value="true" />
	<preference name="Orientation" value="portrait" />
	
	<icon src="gsi-base-icon.png" />
	
	<feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://api.phonegap.com/1.0/file" />
	
</widget>
